ACFG_ENDPOINTSAGGREGATOR_ARGS_TOKEN=
ACFG_ENDPOINTSAGGREGATOR_ARGS_URL=
ACFG_ENDPOINTSAGGREGATOR_ARGS_ORGANIZATION=
ACFG_ENDPOINTSAGGREGATOR_ARGS_BUCKET=

ACFG_RESOURCEUSAGEAGGREGATOR_ARGS_TOKEN=
ACFG_RESOURCEUSAGEAGGREGATOR_ARGS_URL=
ACFG_RESOURCEUSAGEAGGREGATOR_ARGS_ORGANIZATION=
ACFG_RESOURCEUSAGEAGGREGATOR_ARGS_BUCKET=

ACFG_WORKLOADAGGREGATOR_ARGS_TOKEN=
ACFG_WORKLOADAGGREGATOR_ARGS_URL=
ACFG_WORKLOADAGGREGATOR_ARGS_ORGANIZATION=
ACFG_WORKLOADAGGREGATOR_ARGS_BUCKET=